.header
{   
  display: grid;
  grid-template-columns: 1fr min-content 1fr; 
  align-items: center;  
  font-weight: 400;
  font-size: 18px; 
  padding: 81px 50px 96px 50px;

}

.header__menu
{  
  display:flex;
  flex-direction: row;    
  gap: 33px;   

}

.header__links-list
{   
  list-style:circle;  

}

.header__link
{  
  text-align: center;
  text-decoration-style: solid;
  text-underline-offset: 4px;  

}

.header__links-list-item_no-bullit
{
  list-style: none;

}

.header__link_active 
{
  text-decoration: none;
 
}

.header__logo
{
  display: block; 
  width: 137px;  
  height: 104px;

}

.header__logo-image
{  
  width: 100%; 

}

.address
{  
  max-width: 240px;
  width: 100%; 
  font-style: normal;  
  line-height: 1.38;
  text-decoration-style: solid;
  text-underline-offset: 4px; 

}

.header__address
{ 
  justify-self: end;  

}

.main
{
margin: 0;
display: block;

}

.cover
{  
  position: relative;  
  background-image: url(../images/cover.jpg);  
  background-position:center;       
  background-size: cover;  
  z-index: 0; 
  padding: 165px 30px 51px 50px;
  color:#fff;
  
}

.overlay
{  
  position: absolute;  
  top: 0;
  bottom: 0; 
  left: 0; 
  right: 0;  
  background: rgba(0, 0, 0, 0.6);  
  z-index: -1; 

}


.cover__title
{ 
  display: flex;
  flex-direction: column;
  gap: 21px; 
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15; 
  text-transform: uppercase;  

}

.letter-spacing-extended
{
  letter-spacing: 0.3em;

}

.aligned-text
{
  display: block;  
  
}

.aligned-text_center
{
  text-align: center;
  padding-left: 10px;
  
}
  
.aligned-text_right
{
  text-align: right;
  padding-left:615px;
 
}

.cover__description
{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;  
  padding-top: 106px;

} 


.cover__description-text
{ 
  font-weight: 400;   
  font-size: 22px; 
  text-transform: uppercase; 

}

.no-letter-spacing
{
  word-spacing: 0.9em;

}

.bet-button
{
  width: 256px;
  height: 51px;  
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;  
  color: #fff; 
  border-color:#fff ;
  background-color: transparent;

}

.lots
{
  display: block;
  padding: 180px 24px 117px 24px;

}

.lots__heading
{  
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase; 
  padding: 0 173px 27px 40px;

}

.lots__card-list
{
  display:flex;
  flex-direction: row;
  gap: 25px;  

}

.card_type_film
{  
  background-image:url(../images/card-lot-01.jpg);
  background-size:cover; 
  background-position:center;

}

.card_type_book
{
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover; 
  background-position: center;

}

.card_type_picture
{  
  background-image:url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position:center;  

}

.lots__card-list-item
{  
  position: relative;    
  z-index: 1;
  width: 334px;
  min-height:596px ;
  list-style: none;

}

.card-link
{ 
  text-decoration: none;  
  color: #fff; 

}

.card
{ 
  height: 100%;
  display: flex;
  flex-direction:column; 

}

.card__title
{  
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;   

}

.card__text
{  
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-decoration-skip-ink: none;  
  padding: 0px 40px 48px 40px; 

}

.first__card-indent__tite
{
  padding: 48px 40px 276px 40px; 

}

.second__card-indent__title
{
  padding: 48px 40px 33px 40px;

}

.third__card-indent__title
{
  padding: 48px 40px 129px 40px;

}

.lots__look-more-link
{ 
  display: flex;  
  font-weight: 400;
  font-size: 20px;
  text-decoration-style: solid;
  text-underline-offset: 4px;
  color: #000;
  padding: 31px 102px 0 40px;

}

.about
{
  padding: 36px 24px 170px 24px;

}

.about__column
{
  display: grid;
  grid-template-columns: 320px 2fr;     
  
}
.about__logo
{ 
  width: 240px; 
  height: 240px; 
  background-color: black; 
  border-radius: 100%; 
  display: flex; 
  justify-content: center;
  margin: 0 99px 145px 47px;

}

.about__logo-image
{
  width: 60%;
  height: auto; 

}

.about__title
{  
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;   
  padding: 102px 399px 100px 39px; 

}

.about__text
{  
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000; 
  padding: 0 3px 10px 40px

}

.footer
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  padding: 0 50px;
  font-weight: 400;
  font-size: 18px;

}

.footer__address
{
  justify-self: left;
  color: #000;

}

.footer__menu
{
  display: flex;
  justify-content: center; 
  text-align: center; 

}

.footer__menu-list
{  
  font-weight: 400;
  font-size: 18px;

}

.footer__menu-list-item
{
  list-style: none;

}

.footer__menu-link_active
{
  text-decoration: none;

}

.footer__menu-link
{  
  align-items: center; 
  text-decoration-style: solid;
  text-underline-offset: 4px; 
  color: #000; 

}

.footer__social-list
{
  display: flex;
  flex-direction: row;
  justify-self: right;
  gap: 48px;

}

.footer__social-list-item
{
  list-style: none;

}

.footer__social-link
{
  justify-content: right;

}

.footer__social-icon
{
  width: 48px;
  height: 48px;
  
}